@charset "UTF-8";
* {
margin: 0;
padding: 0;
}
body {
    background: url(espaco.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding: auto;
    height: 100vh;
    bottom: 100vh;
    position: relative;


}

main{
    background: none;
}

.astro {
    background-repeat: no-repeat;
    background-size:100%;
    overflow: auto;
    background-size: cover;
    transform: translate(-50%, 85%);
    top: 50%;
    left: 50%;
    position:absolute;
}


